
body {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.inline-block {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}

img {
    border-style: solid;
    border-width: 15px;
    border-color: white;
    max-height: 275px;
  }
div > h1 {
    font-size: 35px;
}
div > h2 {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}
..li {
    justify-content: space-evenly;
}