body {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.inline-block {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    background: purple;
}
ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    width: 500px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
#profilepic {
    border-style: solid;
    border-width: 10px;
    border-color: white;
    max-height: 200px;
    border-radius: 200px;
}
#stage {
    display: flex;
    width: 80vw;
    background-color: red;
}
div > h1 {
    font-size: 35px;
}
div > h2 {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}
ul {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
}
.card {
    max-width: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    height: 275px;
}
.navImg {
    width: 55%;
    background-color: grey;
    margin: 10px;
}
#uxui {
    background-image: url("victual_mockup.png");
}
#logo {
    max-height: 50px;
}
p {
    font-size: 20px;
}